In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#### Exercise 1

In [2]:
from scipy.stats import norm

In [3]:
S0 = 1000
ST = 990
mu = 0.001
sigma = 0.015

In [4]:
def prob_below(S0, ST, mu, sigma, periods):
    return norm.cdf(np.log(ST / S0), mu * periods, sigma * np.sqrt(periods))

(a)

In [5]:
prob_below(S0, ST, mu, sigma, 1)

0.23065573155475771

(b)

In [6]:
prob_below(S0, ST, mu, sigma, 5)

0.3268188763247845

#### Exercise 2

In [7]:
1 - prob_below(100, 110, 0.1, 0.2, 1)

0.5093539805793366

#### Exercise 3

In [8]:
1 - prob_below(80, 90, 0.08, 0.15, 2)

0.5788735865041656

#### Exercise 4

In [9]:
def Rtk(prices, t, k):
    return prices.loc[t] / prices.loc[t - k] - 1

In [10]:
def rtk(prices, t, k):
    return np.log(1 + Rtk(prices, t, k))[0]

In [11]:
prices = pd.DataFrame([95, 103, 98], index=np.arange(1, 4))
prices

     0
1   95
2  103
3   98

In [12]:
rtk(prices, 3, 2)

0.03109058707003118

#### Exercise 5

In [13]:
values = pd.DataFrame({'Pt': [52, 54, 53, 59], 'Dt': [0.2, 0.2, 0.2, 0.25]}, index=np.arange(1, 5))
values['PtDt'] = values['Pt'] + values['Dt']
values

   Pt    Dt   PtDt
1  52  0.20  52.20
2  54  0.20  54.20
3  53  0.20  53.20
4  59  0.25  59.25

In [14]:
def RDtk(values, t, k):
    return values.loc[t, 'PtDt'] / values.loc[t - k, 'Pt'] - 1

In [15]:
def rDtk(values, t, k):
    return np.log(1 + RDtk(values, t, k))

In [16]:
RDtk(values, 2, 1)

0.04230769230769238

In [17]:
RDtk(values, 4, 3)

0.13942307692307687

In [18]:
rDtk(values, 3, 1)

-0.014925650216675593

#### Exercise 6

In [19]:
values = pd.DataFrame({'Pt': [82, 85, 83, 87], 'Dt': [0.1, 0.1, 0.0, 0.125]}, index=np.arange(1, 5))
values['PtDt'] = values['Pt'] + values['Dt']
values

   Pt     Dt    PtDt
1  82  0.100  82.100
2  85  0.100  85.100
3  83  0.000  83.000
4  87  0.125  87.125

In [20]:
RDtk(values, 3, 2)

0.012195121951219523

In [21]:
rDtk(values, 4, 3)

0.06062462181643484

#### Exercise 7

(a) The distribution of $r_t(4)$ is $N(0.06 * 4, 0.47 * \sqrt{4})$.

(b)

In [22]:
norm.cdf(2, 0.06 * 4, 0.47 * np.sqrt(4))

0.9694202393299295

(c)

$\mathrm{Cov}(r_2(2), r_2(1)) = \mathrm{Cov}(r_2 + r_1, r_2) = \mathrm{Cov}(r_2, r_2) + \mathrm{Cov}(r_1, r_2) = \mathrm{Var}(r_2) = 0.47^2$.

(d) $r_t(3) = r_t + r_{t-1} + r_{t-2} = r_t + r_{t-1} + 0.6 \sim N(0.6 + 0.06 * 2, 0.47 * \sqrt{2})$.

#### Exercise 8

(a) $$1 - \Phi\left( \frac{\log 1.3 - 2\mu}{\sigma \sqrt{2}} \right)$$

(b) $$f(X_1) = \frac1{X_1} \frac{1}{\sqrt{2\pi}\sigma} \exp \left(-\frac12 \left( \frac{\log X_1 - \log X_0 - \mu}{\sigma} \right)^2 \right)$$

(c) $$q_{k,\alpha} = k\mu + \sigma \sqrt{k} q_\alpha$$

(d) If $$X_k = X_0 e^{r_k},$$ where $$r_k \sim N(\mu, \sigma^2),$$ then $$E[X_k] = X_0 e^{\mu + \frac{\sigma^2}{2}}.$$
Therefore $$X_k^2 = X_0^2 e^{2 r_k} = X_0' e^{r_k'},$$ where $X_0' = X_0^2$ and $r_k' = 2r_k \sim N(2\mu, 4\sigma^2)$, and thus $$E[X_k^2] = X_0^2 e^{2\mu + 2\sigma^2}$$

(e) $$\mathrm{Var}(X_k) = E[X_k^2] - E^2[X_k] = X_0^2 e^{2\mu + 2\sigma^2} - X_0^2 e^{2\mu + \sigma^2} = X_0^2 e^{2\mu + 2\sigma^2}\left( 1 - e^{-\sigma^2} \right)$$

#### Exercise 9

(a)

In [23]:
1 - prob_below(1, 1.2, 0.1, 0.2, 3)

0.6329619339826876

(b) $$\mathrm{Var}(X_k/k | X_0) = \frac{1}{k^2} \mathrm{Var}(X_k | X_0) = \frac{X_0^2}{k^2} e^{2\mu + 2\sigma^2}\left( 1 - e^{-\sigma^2} \right)$$

(c)

In [24]:
ts = np.arange(1, 100)
ps = 1 - prob_below(1, 2, 0.1, 0.2, ts)
np.flatnonzero(ps >= 0.9)[0]

17

#### Exercise 10

In [25]:
1 - prob_below(97, 100, 0.0002, 0.03, 20)

0.4218295335131854

#### Exercise 11

In [26]:
ts = np.arange(1, 10000)
ps = 1 - prob_below(1, 2, 0.0005, 0.012, ts)
np.flatnonzero(ps >= 0.9)[0]

3098